@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	margin: 0;
	padding:0;
	background-color: #079992;
	font-family: 'Open Sans', sans-serif;
}
#site {
	width: 95%;
	margin: auto;
	border: 1px solid #030;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas:
		"header header"
		"nav article"
		"footer footer";
}
header {
	grid-area: header;
	background-color: #60a3bc;
	color: #aaaaaa;
	display: grid;
	grid-template-columns: 20% 80%;
}
header img{
	width: 125px;
	height: auto;
}
header h1{
	text-align: center;
}
nav {
	grid-area: nav;
	background-color: #82ccdd;
}
ul {
	margin: 0;
	padding:0;	
}
ul li {
	list-style: none;
	padding: 20px;
}
ul li:hover {
	background-color: #930;
}
ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}
article {
	grid-area: article;
	background-color: #fff;
	padding: 15px;
}
article h1 {
	text-align: center;
}
.lien {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.lien:hover {
	color: #00f;
	text-decoration: underline;
}
.box {
	width: 75%;
	margin: auto;
	padding: 15px;
	text-align: center;
}
input[type='text'], input[type='password'], textarea[name='description'] {
	width: 100%;
	padding: 15px;
}
textarea[name='article'] {
	width: 100%;
	padding: 15px;
	height: 100px;
}
input[type='submit'] {
	width: 80%;
	padding: 15px;
	font-size: 30px;
	background-color: #F90;
	border: none;
	cursor: pointer;
}
input[type='submit']:hover {
	background-color: #F60;
}
.red {
	color: red;
}
.green {
	color: #060;
}
footer {
	grid-area: footer;
	background-color: #3c6382;
	text-align: center;
}

@media screen and (max-width: 850px) {
#site {
	width: 90%;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"nav"
		"article"
		"footer";
}
ul {
	display: flex;	
	justify-content: center;
}	
}




